<div class="intro-header">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="profileColor"></div>
	            <p class="profileText">Select Your Color</p>
				<div class="colorPalett">
		            <div class="color clr6495ED" ng-click="SelectColor('#6495ED')"></div>
		            <div class="color clrFF7F50" ng-click="SelectColor('#FF7F50')"></div>
		            <div class="color clrDC143C" ng-click="SelectColor('#DC143C')"></div>
					<div class="color clrFAEBD7" ng-click="SelectColor('#FAEBD7')"></div>
					<div class="color clr7FFFD4" ng-click="SelectColor('#7FFFD4')"></div>
					<div class="color clrF5F5DC" ng-click="SelectColor('#F5F5DC')"></div>
					<div class="color clr8A2BE2" ng-click="SelectColor('#8A2BE2')"></div>
					<div class="color clrA52A2A" ng-click="SelectColor('#A52A2A')"></div>
					<div class="color clrDEB887" ng-click="SelectColor('#DEB887')"></div>
					<div class="color clr5F9EA0" ng-click="SelectColor('#5F9EA0')"></div>
					<div class="color clr7FFF00" ng-click="SelectColor('#7FFF00')"></div>
					<div class="color clrD2691E" ng-click="SelectColor('#D2691E')"></div>
					<div class="color clr00008B" ng-click="SelectColor('#00008B')"></div>
					<div class="color clrFF8C00" ng-click="SelectColor('#FF8C00')"></div>
					<div class="color clr9932CC" ng-click="SelectColor('#9932CC')"></div>
					<div class="color clrE9967A" ng-click="SelectColor('#E9967A')"></div>
					<div class="color clr2F4F4F" ng-click="SelectColor('#2F4F4F')"></div>
					<div class="color clr00CED1" ng-click="SelectColor('#00CED1')"></div>
					<div class="color clrFF1493" ng-click="SelectColor('#FF1493')"></div>
					<div class="color clr228B22" ng-click="SelectColor('#228B22')"></div><br/><br/>
					<div class="color clrFFD700" ng-click="SelectColor('#FFD700')"></div>
					<div class="color clrADFF2F" ng-click="SelectColor('#ADFF2F')"></div>
					<div class="color clrFF69B4" ng-click="SelectColor('#FF69B4')"></div>
					<div class="color clrCD5C5C" ng-click="SelectColor('#CD5C5C')"></div>
					<div class="color clrF0E68C" ng-click="SelectColor('#F0E68C')"></div>
					<div class="color clrF08080" ng-click="SelectColor('#F08080')"></div>
					<div class="color clr20B2AA" ng-click="SelectColor('#20B2AA')"></div>
					<div class="color clr66CDAA" ng-click="SelectColor('#66CDAA')"></div>
					<div class="color clr808000" ng-click="SelectColor('#808000')"></div>
					<div class="color clrFFA500" ng-click="SelectColor('#FFA500')"></div>
					<div class="color clrAFEEEE" ng-click="SelectColor('#AFEEEE')"></div>
					<div class="color clrFFC0CB" ng-click="SelectColor('#FFC0CB')"></div>
					<div class="color clrB0E0E6" ng-click="SelectColor('#B0E0E6')"></div>
					<div class="color clrFF0000" ng-click="SelectColor('#FF0000')"></div>
					<div class="color clrBC8F8F" ng-click="SelectColor('#BC8F8F')"></div>
					<div class="color clr8B4513" ng-click="SelectColor('#8B4513')"></div>
					<div class="color clr2E8B57" ng-click="SelectColor('#2E8B57')"></div>
					<div class="color clrFF6347" ng-click="SelectColor('#FF6347')"></div>
					<div class="color clr9ACD32" ng-click="SelectColor('#9ACD32')"></div>
					<div class="color clrFFFF00" ng-click="SelectColor('#FFFF00')"></div>
	           	</div>
              <div class="form">
              	<p class="formText">Input Your Name or Initials(8 Chars max)</p>
	            <input type="text" name="name" id="name" class="name">
	            <div class="errorMsg">please enter valid name</div>
	            <p class="formHint">Click on Button to Enter Circle Field</p>
	            <input type="button" value="SUBMIT" class="submit" ng-click="CreateNode()">
	          </div>

	        </div>
	    </div>
	</div>
</div>	